* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a .bxs-cart-download {
    text-decoration: none;
    color: white;
}


.cart {
    font-size: 3rem;
    padding-left: 1rem;
}

.hero {
    padding-bottom: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about {
    padding: 1rem 3rem 1rem 3rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.herotext {
    padding: 3rem 0 4rem 7rem;
    width: 50vw;
}
.aboutimage {
    width: 50vw;
}
.abouttext{
    padding-left: 2rem;
    text-wrap: wrap;
}
.bike-info{
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.sold,.business,.customers{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-right: 2rem;
    
}
/* how it works section */
.working{
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
.find,.ride,.book{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 28%;
    padding: 2rem 1rem;
    gap: 1rem;
    
}
.find:hover,.ride:hover,.book:hover{
    transition: 0.5s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}
.find .bx-cycling, .book .bxs-cart-add , .ride .bx-wink-smile{
    font-size: 6rem;
    color: red;
    border: 1px solid red;
    padding: 1rem;
}
.find .bx-cycling:hover,.book .bxs-cart-add:hover,.ride .bx-wink-smile:hover{
    background-color: red;
    color: #fff;
    transition: 0.9s;
    border-radius: 10px;
}
/* Dream bike section */
.bikes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.dreambike{
    padding: 4rem 5rem;
    background-color: red;
    color: white;
}
.yamaha,.Aprilia,.Royal,.Tork,.Ultraviolette,.Kawasaki{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 400px; */
    width: 32%;
    padding: 1rem 1rem;
    transition: 0.8s;
}
.yamaha:hover,.Aprilia:hover,.Royal:hover,.Tork:hover,.Ultraviolette:hover,.Kawasaki:hover{
    border-radius: 10%;
    box-shadow: 2px 8px 16px rgba(218, 209, 209, 0.8);

}
.imgyamaha,.imgAprilia,.imgRoyal,.imgTork,.imgUltraviolette,.imgKawasaki{
    transition: 0.8s;
}
.imgyamaha:hover,.imgAprilia:hover,.imgRoyal:hover,.imgTork:hover,.imgUltraviolette:hover,.imgKawasaki:hover{
    transform: scale(1.4);
}
/* choose your brand */
#carouselExampleAutoplaying .carousel-inner .carousel-item img{
    height: 150px;
    width: 300px;
}
#carouselExampleAutoplaying .carousel-inner .carousel-item{
    display: flexbox;
    align-items: center;
    justify-content: center;
    
    
}


